.Items{
    display: block;
    padding-top: 3%;
  
}
.infinite-scroll-component {
    height: 740px !important;
    overflow: auto;
    padding-bottom: 16px;
    display: block;
}
.ItemList{
    display: block;
    padding-top: 5%;
  
}
.ant-input{
    background-color: #000000 ;
    opacity: 0.30;
    height: 200%;
    border-radius: 10px;
    color: white;
    font-size: 150%;
}
.site-statistic-card {
    padding: 1%;
    background: #ececec;
  }